@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  background: linear-gradient(to right, #0a2121,  #060000, #060000);
  color: #a7a6a6;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

